<div class="container coasters-index">

  <h1 style="font-weight: 100">{{name}}</h1>

  <h4>Descripción</h4>
  <p>{{description}}</p>
  <p><strong>Longitud: </strong> {{length}}m | <strong>Inversiones: </strong> {{inversions}}</p>

  <hr>

  <h5>Sobre el parque</h5>
  <p><strong>Nombre</strong>: {{park.[0].name}}</p>
  <p><strong>Descripción</strong>: {{park.[0].description}}</p>

  <a href="/coasters/edit/{{id}}" class="btn btn-dark">Edit</a>
  <br><br><br>

  <a href="/coasters/delete/{{id}}" class="btn btn-dark">Delete</a>
  <br><br><br>

  <a href="/coasters" class="btn btn-dark">Volver</a>

</div>